@* Views/Shared/_TopbarLevel2.cshtml *@
<div class="topbar-2">
    <div class="container-fluid">
        <div class="hero-box"
             style="background-image:url('@Url.Content("~/images/kirby.jpg")');">
        </div>
    </div>
</div>
