################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Frontend/GamiPort/.vs/GamiPort

# Visual Studio local cache
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# 常見建置輸出
**/bin/
**/obj/
