<div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; GamiPort 2024</div>
        <div>
            <a href="#" class="text-decoration-none">隱私政策</a>
            &middot;
            <a href="#" class="text-decoration-none">使用條款</a>
        </div>
    </div>
</div>

