<link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css">
<link rel="stylesheet" href="~/css/Forum/hero-swiper.css">

<div id="insight-carousel-root" class="d-none">
    <div class="swiper hero-swiper topbar-2">
        <div class="swiper-wrapper" id="insight-swiper-wrapper"></div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script type="module">
    import { InsightCarousel } from '/js/forum/insight-carousel.js';
    InsightCarousel();
</script>

<script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>




