@* Views/Shared/_Footer.cshtml *@
<div class="container py-4">
    <div class="row">
        <div class="col-12 col-md">
            <div class="text-muted small">© @DateTime.Now.Year Demo</div>
        </div>
        <div class="col-12 col-md-auto">
            <ul class="nav justify-content-md-end small">
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">條款</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">隱私</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">聯絡</a></li>
            </ul>
        </div>
    </div>
</div>
