@* Views/Shared/_TopbarLevel2.cshtml *@
<div class="topbar-2">
    <div class="container-fluid">
        <img class="img-fluid w-100 d-block"
             src="@Url.Content("~/images/測試用圖.jpg")"
             alt="Top banner" style="max-height:260px; object-fit:cover;">
    </div>
</div>
