@* Views/Shared/_RightRailAds.cshtml *@
@* <div class="right-rail-ads">
    <!-- 上：滑過才掃光 + 呼吸 -->
    <div class="ad-box ad-300x250 ad-hover-sheen ad-breathe mb-4"></div>

    <div class="ad-box ad-300x600 ad-shine"></div>
</div> *@

<div class="right-rail-ads">
    <img src="https://picsum.photos/300/250?ad1" alt="ad" class="mb-3" />
    <img src="https://picsum.photos/300/600?ad2" alt="ad" />
</div>