@{
    
   
    ViewBag.HideForumTopbar = true;
    ViewBag.HideRightRail = true;
    // ViewBag.HideFooter = true; // 要連 footer 也關再加
}




@{
    ViewData["Title"] = "主題內容";
    var threadId = (long)ViewData["ThreadId"];
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="m-0">主題</h2>
</div>

<div id="thread-detail-app"
     data-thread-id="@threadId"></div>

@section Scripts {
    <script src="~/js/social_hub/gp-time.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"></script>
    <script type="module" src="~/js/forum/thread.detail.js" asp-append-version="true"></script>
}

<pre class="text-muted small">
@* area=@Context.GetRouteData().Values["area"]
controller=@Context.GetRouteData().Values["controller"]
action=@Context.GetRouteData().Values["action"]
threadId=@threadId
 *@</pre>
