@model int
@* TicketId *@

<div class="input-group">
    <textarea id="msg-text" class="form-control" rows="2" maxlength="255" placeholder="輸入訊息（最多 255 字）"></textarea>
    <button class="btn btn-primary" id="btn-send" type="button">送出</button>
</div>
